
*
{
    padding:0;
    margin:0;
}

html
{
background-color:grey;
text-align:center;
}
#namediv
{
    margin-top: 50px ;
}

.input
{
    font-size:30px;
    color:blue;
    font-weight:bold;
    font-family:Arial,Verdana;
}


#enter
{
    font-size:35px;
    color:red;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    box-shadow:10px 10px 8px yellow;
}

#display

{
    
    border-collapse:collapse;
    background-color:yellow;
    width:50%;
    margin:50px auto;
    color:red;
}

th,td
{
    border:2px solid blue;
}
